@page "/Notas/ListadoMateriasEstdiante"
@model ListadoMateriasEstudianteModel
@{
    ViewData["Title"] = "Listado de Materias de " + Model.Input.estudiante.Nombre + " " + Model.Input.estudiante.PrimerApellido;
    string nombreCompleto = Model.Input.estudiante.PrimerApellido + " " + Model.Input.estudiante.SegundoApellido + " " + Model.Input.estudiante.Nombre;
}

<h3>@ViewData["Title"]</h3>
<div class="container p-4">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <h5>Datos del Estudiante</h5>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Identificacion</label>
                        <input asp-for="Input.estudiante.Identificacion" placeholder="" class="form-control" autofocus readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Nombre</label>
                        <input type="text" placeholder="@nombreCompleto" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Correo Electronico</label>
                        <input asp-for="Input.estudiante.CorreoElectronico" placeholder="" class="form-control" autofocus readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Carrera</label>
                        <input asp-for="Input.estudiante.Carrera" placeholder="" class="form-control" autofocus readonly />
                    </div>
                </div>
            </div>
        </form><br />
        <h5>Materias</h5>
        <div class="row">
            @foreach (var item in Model.Input.listaMaterias)
            {
                <div class="col-xs-6 col-md-2">
                    <div class="card text-center">
                        <div class="card-header ">
                            <a asp-route-id="@item.Codigo_Materia" asp-area="Mantenimiento" asp-page="/Materias/DetalleMaterias">
                                <img class='imageUsers' src="~/lib/Image/iconsMaterias.png" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <table class="tableCursos">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Codigo: @Html.DisplayFor(modelItem => item.Codigo_Materia)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Nombre: @Html.DisplayFor(modelItem => item.Nombre)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{
                                                string idEstudianteCarrera = Model.Input.estudiante.Identificacion + "," +item.Nombre;
                                            }
                                            <a asp-route-id="@idEstudianteCarrera" asp-area="Notas" asp-page="/NotasAcademicas/ConsultaNota">
                                                <input type="submit" value="Nota" class="btn btn-primary ">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>