@page "/Notas/ListadoEstudiantesMateria"
@model ListadoEstudiantesMateriaModel
@{
    ViewData["Title"] = "Listado de los Estudiantes de " + Model.Input.Nombre_Materia;
    string nombreCompleto = Model.Input.profesor.PrimerApellido + " " + Model.Input.profesor.SegundoApellido + " " + Model.Input.profesor.Nombre;
}

<h3>@ViewData["Title"]</h3>
<div class="container p-4">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <h5>Datos del Profesor</h5>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Identificacion</label>
                        <input asp-for="Input.profesor.Identificacion" placeholder="" class="form-control" autofocus readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Nombre</label>
                        <input type="text" placeholder="@nombreCompleto" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Correo Electronico</label>
                        <input asp-for="Input.profesor.CorreoElectronico" placeholder="" class="form-control" autofocus readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Materia</label>
                        <input asp-for="Input.Nombre_Materia" placeholder="" class="form-control" autofocus readonly />
                    </div>
                </div>
            </div>
        </form><br />
        <h5>Estudiantes</h5>
        <div class="row">
            @foreach (var item in Model.Input.lista_estudiantes)
            {
                <div class="col-xs-6 col-md-2">
                    <div class="card text-center">
                        <div class="card-header ">
                            <a asp-route-id="@item.estudiante.Identificacion" asp-area="Notas" asp-page="/NotasAcademicas/DetalleEstudiante">
                                <img class='imageUsers' src="~/lib/Image/no_avatar.png" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <table class="tableCursos">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Identificacion: @Html.DisplayFor(modelItem => item.estudiante.Identificacion)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Nombre: @Html.DisplayFor(modelItem => item.estudiante.Nombre)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{
                                                string idEstudianteCarrera = item.estudiante.Identificacion + "," + Model.Input.Nombre_Materia;
                                            }
                                            <a asp-route-id="@idEstudianteCarrera" asp-area="Notas" asp-page="/NotasAcademicas/DetalleEstudiante">
                                                <input type="submit" value="Detalle" class="btn btn-success ">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{
                                                string idEstudianteCarrera2 = item.estudiante.Identificacion + "," + Model.Input.Nombre_Materia;
                                            }
                                            <a asp-route-id="@idEstudianteCarrera2" asp-area="Notas" asp-page="/NotasAcademicas/RegistroNotas">
                                                <input type="submit" value="Nota" class="btn btn-primary ">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
