@page "/Mantenimiento/Register_PlanesEstudio"
@model RegistrarPlanes_EstudiosModel
@{
    ViewData["Title"] = "Registro Planes Estudio";
}

<html>
<head>
    <script type="text/javascript" src="~/js/Registrar.js"></script>
</head>
<body onload="iniciarPlan()">
    <div class="container p-4">
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="col-xs-6 col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@ViewData["Title"]</h3><br />
                    </div>
                    <div class="panel-body">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div id="header" class="bg-info">
                                        <h2 class="mb-0 t">
                                            <button class="btn btn-link text-light" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Ingresar Informacion
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        @if (Model.Input_Plan.Codigo_Plan == null)
                                        {
                                            <div class="form-group">
                                                <input asp-for="Input_Plan.Codigo_Plan" placeholder="Codigo Plan de Estudio" class="form-control" autofocus />
                                                <span asp-validation-for="Input_Plan.Codigo_Plan" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <input asp-for="Input_Plan.Codigo_Plan" placeholder="Codigo Plan de Estudio" class="form-control" autofocus readonly />
                                                <span asp-validation-for="Input_Plan.Codigo_Plan" class="text-danger"></span>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <input asp-for="Input_Plan.Nombre_Plan" placeholder="Nombre Plan de Estudio" class="form-control" autofocus />
                                            <span asp-validation-for="Input_Plan.Nombre_Plan" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Input_Plan.Descripcion_Plan" placeholder="Descripcion Plan de Estudio" class="form-control" autofocus />
                                            <span asp-validation-for="Input_Plan.Descripcion_Plan" class="text-danger"></span>
                                        </div>
                                        @if (Model.Input_Plan.Nombre_Carrera == null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_Carreras, "Text", "Text"), "Seleccione una carrera", new { @onchange = "cambioComboCarrera(this.value)", @class = "form-control" })
                                                <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_Carreras, "Text", "Text"), Model.Input_Plan.Nombre_Carrera, new { @onchange = "cambioComboCarrera(this.value)",  @class = "form-control" })
                                                <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                            </div>
                                        }

                                        <div class="form-group" id="cboTecnologias">
                                            @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_MateriasTecnologias, "Text", "Text"), "Seleccione una materia", new { @onchange = "agregarTabla(this.value)", @class = "form-control" })
                                            <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" id="cboTurismo">
                                            @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_MateriasTurismo, "Text", "Text"), "Seleccione una materia", new { @class = "form-control" })
                                            <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" id="cboCriminal">
                                            @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_MateriasCriminal, "Text", "Text"), "Seleccione una materia", new { @class = "form-control" })
                                            <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" id="cboDental">
                                            @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_MateriasDental, "Text", "Text"), "Seleccione una materia", new { @class = "form-control" })
                                            <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" id="cboElectronica">
                                            @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_MateriasElectronica, "Text", "Text"), "Seleccione una materia", new { @class = "form-control" })
                                            <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" id="cboSecretariado">
                                            @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_MateriasSecretariado, "Text", "Text"), "Seleccione una materia", new { @class = "form-control" })
                                            <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" id="cboAdministracion">
                                            @Html.DropDownList("Input_Plan.Nombre_Carrera", new SelectList(Model.Input_Plan.lista_MateriasAdministracion, "Text", "Text"), "Seleccione una materia", new { @class = "form-control" })
                                            <span asp-validation-for="Input_Plan.Nombre_Carrera" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <p>
                                                Elementos en la Tabla:
                                                <div id="adicionados"></div>
                                            </p>
                                            <table  id="mytable" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Accion</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>


                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-danger">@Html.DisplayFor(m => m.Input_Plan.ErrorMessage)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
