@page "/Mantenimiento/Register_Materias"
@model RegistrarMateriasModel
@{
    ViewData["Title"] = "Registro Materias";
}

<html>
<head>
    @*<link rel="stylesheet" href="~/css/Register.css" />
        <script type="text/javascript" src="~/js/Registrar.js"></script>*@
</head>
<body>
    <div class="container p-4">
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="col-xs-6 col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@ViewData["Title"]</h3><br />
                    </div>
                    <div class="panel-body">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div id="header" class="bg-info">
                                        <h2 class="mb-0 t">
                                            <button class="btn btn-link text-light" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Ingresar Informacion
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        @if (Model.Input_Materias.Codigo_Materia == null)
                                        {
                                            <div class="form-group">
                                                <input asp-for="Input_Materias.Codigo_Materia" placeholder="Codigo Materia" class="form-control" autofocus />
                                                <span asp-validation-for="Input_Materias.Codigo_Materia" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <input asp-for="Input_Materias.Codigo_Materia" placeholder="Codigo Materia" class="form-control" autofocus readonly />
                                                <span asp-validation-for="Input_Materias.Codigo_Materia" class="text-danger"></span>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <input asp-for="Input_Materias.Nombre" placeholder="Nombre Materia" class="form-control" autofocus />
                                            <span asp-validation-for="Input_Materias.Codigo_Materia" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Input_Materias.Descripcion" placeholder="Descripcion Materia" class="form-control" autofocus />
                                            <span asp-validation-for="Input_Materias.Descripcion" class="text-danger"></span>
                                        </div>
                                        @if (Model.Input_Materias.Creditos == null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.Creditos", new SelectList(Model.Input_Materias.lista_Creditos, "Text", "Text"), "Seleccione la cantidad de creditos", new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.Creditos" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.Creditos", new SelectList(Model.Input_Materias.lista_Creditos, "Text", "Text"), Model.Input_Materias.Creditos, new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.Creditos" class="text-danger"></span>
                                            </div>
                                        }

                                        @if (Model.Input_Materias.Nombre_Carrera == null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.Nombre_Carrera", new SelectList(Model.Input_Materias.lista_Carreras, "Text", "Text"), "Seleccione una Carrera", new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.Nombre_Carrera" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.Nombre_Carrera", new SelectList(Model.Input_Materias.lista_Carreras, "Text", "Text"), Model.Input_Materias.Nombre_Carrera, new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.Nombre_Carrera" class="text-danger"></span>
                                            </div>
                                        }

                                        @if (Model.Input_Materias.Nombre_Requesito == null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.Nombre_Requesito", new SelectList(Model.Input_Materias.lista_Requesitos, "Text", "Text"), "Seleccione un Requesito", new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.Nombre_Requesito" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.Nombre_Requesito", new SelectList(Model.Input_Materias.lista_Requesitos, "Text", "Text"), Model.Input_Materias.Nombre_Requesito, new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.Nombre_Requesito" class="text-danger"></span>
                                            </div>
                                        }
                                        @if (Model.Input_Materias.NombreCo_Requesito == null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.NombreCo_Requesito", new SelectList(Model.Input_Materias.lista_CoRequesitos, "Text", "Text"), "Seleccione un Co-Requesito", new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.NombreCo_Requesito" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.NombreCo_Requesito", new SelectList(Model.Input_Materias.lista_CoRequesitos, "Text", "Text"), Model.Input_Materias.NombreCo_Requesito, new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.NombreCo_Requesito" class="text-danger"></span>
                                            </div>
                                        }

                                        @if (Model.Input_Materias.NombreHorario == null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.NombreHorario", new SelectList(Model.Input_Materias.listaHorarios, "Text", "Text"), "Seleccione un Horario", new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.NombreHorario" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                @Html.DropDownList("Input_Materias.NombreHorario", new SelectList(Model.Input_Materias.listaHorarios, "Text", "Text"), Model.Input_Materias.NombreHorario, new { @class = "form-control" })
                                                <span asp-validation-for="Input_Materias.NombreHorario" class="text-danger"></span>
                                            </div>
                                        }

                                        <div class="form-group">
                                            <input asp-for="Input_Materias.Cupo" placeholder="Indica el Cupo" class="form-control" type="number" min="10" max="35" autofocus />
                                            <span asp-validation-for="Input_Materias.Cupo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Input_Materias.Costo" placeholder="Costo" class="form-control" autofocus />
                                            <span asp-validation-for="Input_Materias.Costo" class="text-danger"></span>
                                        </div>

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-danger">@Html.DisplayFor(m => m.Input_Materias.ErrorMessage)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
