@model List<HorariosM>
@{
    ViewData["Title"] = "Listado Horarios";
}

<h3>@ViewData["Title"]</h3>
<div class="container p-4">
    <div class="form-group">
        <form asp-area="Mantenimiento" asp-controller="Mantenimiento" asp-action="listadoHorarios" method="get">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" id="filtrar" name="filtrar" placeholder="Buscar Día" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" value="Buscar" class="btn btn-success">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <a class="btn btn-success" asp-area="Mantenimiento" asp-page="/Horarios/ListadoHorarios">Todos</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <a class="btn btn-primary text-white" asp-area="Mantenimiento" asp-page="/Horarios/RegistrarHorarios">Nuevo</a>
                    </div>
                </div>
            </div>
        </form><br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-6 col-md-2">
                    <div class="card text-center">
                        <div class="card-header ">
                            <a asp-route-id="@item.Codigo_Horario" asp-area="Mantenimiento" asp-page="/Horarios/DetalleHorarios">
                                <img class='imageUsers' src="~/lib/Image/iconsHorario.png" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <table class="tableCursos">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Codigo: @Html.DisplayFor(modelItem => item.Codigo_Horario)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Dia: @Html.DisplayFor(modelItem => item.Dia)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a asp-route-id="@item.Codigo_Horario" asp-area="Mantenimiento" asp-page="/Horarios/DetalleHorarios">
                                                <input type="submit" value="Detalle" class="btn btn-success ">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>