@page "/Matricular/Pantalla_Matricula"
@model PantallaMatriculaModel
@{
    ViewData["Title"] = "Matricula";
    string nombreCompleto = Model.Input_Matricula.estudiante.PrimerApellido + " " + Model.Input_Matricula.estudiante.SegundoApellido + " " + Model.Input_Matricula.estudiante.Nombre;
}

<h3>@ViewData["Title"]</h3>
<div class="container p-4">
    <div class="form-group">
        <form asp-area="Matricular" asp-page="/Matriculacion/PantallaMatricula" method="get">
            <h5>Datos del Estudiante</h5>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Identificacion</label>
                        <input type="text" placeholder="@Model.Input_Matricula.estudiante.Identificacion" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Nombre</label>
                        <input type="text" placeholder="@nombreCompleto" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Correo Electronico</label>
                        <input type="text" placeholder="@Model.Input_Matricula.estudiante.CorreoElectronico" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Carrera</label>
                        <input type="text" placeholder="@Model.Input_Matricula.estudiante.Carrera" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <label></label>
                        <input type="submit" value="Pagar Matricula" class="btn btn-success">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label></label>
                        <a class="btn btn-secondary text-white" asp-area="Matricular" asp-controller="Matricular" asp-action="addMateria">Volver</a>
                    </div>
                </div>
            </div>
        </form><br />
        <h5>Materias ha matricular</h5>
        <div class="row">
            @foreach (var item in Model.Input_Matricula.lista_MateriasMatriculadas)
            {
                <div class="col-xs-6 col-md-2">
                    <div class="card text-center">
                        <div class="card-header ">
                            <a asp-route-id="@item.Codigo_Materia" asp-area="Mantenimiento" asp-page="/Materias/DetalleMaterias">
                                <img class='imageUsers' src="~/lib/Image/iconsMaterias.png" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <table class="tableCursos">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Codigo: @Html.DisplayFor(modelItem => item.Codigo_Materia)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <p>Nombre: @Html.DisplayFor(modelItem => item.Nombre)</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a asp-route-id="@item.Codigo_Materia" asp-area="Mantenimiento" asp-page="/Materias/DetalleMaterias">
                                                <input type="submit" value="Detalle" class="btn btn-info ">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
