@page "/Matricular/Pantalla_Matricula"
@model PantallaMatriculaModel
@{
    ViewData["Title"] = "Matricula";
    string nombreCompleto = Model.Input_Matricula.estudiante.PrimerApellido + " " + Model.Input_Matricula.estudiante.SegundoApellido + " " + Model.Input_Matricula.estudiante.Nombre;
}

<h3>@ViewData["Title"]</h3>
<div class="container p-4">
    <form method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="col-xs-6 col-md-5">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div id="header" class="bg-info">
                                    <h2 class="mb-0 t">
                                        <button class="btn btn-link text-light" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Informacion del Estudiante
                                        </button>
                                    </h2>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">

                                    <div class="form-group">
                                        <label asp-for="Input_Matricula.estudiante.Identificacion">Identificacion</label>
                                        <input asp-for="Input_Matricula.estudiante.Identificacion" placeholder="" class="form-control" autofocus readonly />
                                        <span asp-validation-for="Input_Matricula.estudiante.Identificacion" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Input_Matricula.estudiante.Nombre">Nombre</label>
                                        <input asp-for="Input_Matricula.estudiante.Nombre" placeholder="" class="form-control" autofocus readonly />
                                        <span asp-validation-for="Input_Matricula.estudiante.Nombre" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Input_Matricula.estudiante.PrimerApellido">Primer Apellido</label>
                                        <input asp-for="Input_Matricula.estudiante.PrimerApellido" placeholder="" class="form-control" autofocus readonly />
                                        <span asp-validation-for="Input_Matricula.estudiante.PrimerApellido" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Input_Matricula.estudiante.SegundoApellido">Segundo Apellido</label>
                                        <input asp-for="Input_Matricula.estudiante.SegundoApellido" placeholder="" class="form-control" autofocus readonly />
                                        <span asp-validation-for="Input_Matricula.estudiante.SegundoApellido" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Input_Matricula.estudiante.CorreoElectronico">Correo Electronico</label>
                                        <input asp-for="Input_Matricula.estudiante.CorreoElectronico" placeholder="" class="form-control" autofocus readonly />
                                        <span asp-validation-for="Input_Matricula.estudiante.CorreoElectronico" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Input_Matricula.estudiante.Carrera">Carrera</label>
                                        <input asp-for="Input_Matricula.estudiante.Carrera" placeholder="" class="form-control" autofocus readonly />
                                        <span asp-validation-for="Input_Matricula.estudiante.Carrera" class="text-danger"></span>
                                    </div>

                                    @if (Model.Input_Matricula.Nombre_Periodo == null)
                                    {
                                        <div class="form-group">
                                            <label asp-for="Input_Matricula.Nombre_Periodo">Periodo</label>
                                            @Html.DropDownList("Input_Matricula.Nombre_Periodo", new SelectList(Model.Input_Matricula.Lista_Periodos, "Text", "Text"), "Seleccione un Periodo", new { @class = "form-control" })
                                            <span asp-validation-for="Input_Matricula.Nombre_Periodo" class="text-danger"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label asp-for="Input_Matricula.Nombre_Periodo">Periodo</label>
                                            @Html.DropDownList("Input_Matricula.Nombre_Periodo", new SelectList(Model.Input_Matricula.Lista_Periodos, "Text", "Text"), Model.Input_Matricula.Nombre_Periodo, new { @class = "form-control" })
                                            <span asp-validation-for="Input_Matricula.Nombre_Periodo" class="text-danger"></span>
                                        </div>
                                    }

                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Matricular</button>
                                    </div>
                                    <div class="form-group text-center">
                                        <a class="btn btn-secondary  btn-block text-white" asp-area="Matricular" asp-controller="Matricular" asp-action="addMateria">Volver</a>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-danger">@Html.DisplayFor(m => m.Input_Matricula.ErrorMessage)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />


    <h5>Materias ha matricular</h5>
    <div class="row">
        @foreach (var item in Model.Input_Matricula.lista_MateriasMatriculadas)
        {
            <div class="col-xs-6 col-md-2">
                <div class="card text-center">
                    <div class="card-header ">
                        <a asp-route-id="@item.Codigo_Materia" asp-area="Mantenimiento" asp-page="/Materias/DetalleMaterias">
                            <img class='imageUsers' src="~/lib/Image/iconsMaterias.png" />
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <table class="tableCursos">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="text-center">
                                            <p>Codigo: @Html.DisplayFor(modelItem => item.Codigo_Materia)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="text-center">
                                            <p>Nombre: @Html.DisplayFor(modelItem => item.Nombre)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a asp-route-id="@item.Codigo_Materia" asp-area="Mantenimiento" asp-page="/Materias/DetalleMaterias">
                                            <input type="submit" value="Detalle" class="btn btn-info ">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
