@page "/Users/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Registro de Usuarios";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/Register.css" />
        <script type="text/javascript" src="~/js/Registrar.js"></script>
    </head>
    <body onload="iniciar()">
        <div class="container p-4">
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="col-xs-6 col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@ViewData["Title"]</h3><br />
                        </div>
                        <div class="panel-body">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <div id="header" class="bg-info">
                                            <h2 class="mb-0 t">
                                                <button class="btn btn-link text-light" type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Ingresar Informacion
                                                </button>
                                            </h2>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            @if (Model.Input.Identificacion == null)
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.Identificacion" placeholder="Identificacion" class="form-control" autofocus />
                                                    <span asp-validation-for="Input.Identificacion" class="text-danger"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.Identificacion" placeholder="Identificacion" class="form-control" readonly />
                                                    <span asp-validation-for="Input.Identificacion" class="text-danger"></span>
                                                </div>
                                            }

                                            <div class="form-group">
                                                <input asp-for="Input.Nombre" placeholder="Nombre" class="form-control" />
                                                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.PrimerApellido" placeholder="Primer Apellido" class="form-control" />
                                                <span asp-validation-for="Input.PrimerApellido" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.SegundoApellido" placeholder="Segundo Apellido" class="form-control" />
                                                <span asp-validation-for="Input.SegundoApellido" class="text-danger"></span>
                                            </div>
                                            @if (Model.Input.FechaNacimiento == null)
                                            {
                                                <div class="form-group">
                                                    <input id="Date" asp-for="Input.FechaNacimiento" placeholder="" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                    <span asp-validation-for="Input.FechaNacimiento" class="text-danger"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.FechaNacimiento" placeholder="" class="form-control" type="date" value="@DateTime.Parse(Model.Input.FechaNacimiento).ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                    <span asp-validation-for="Input.FechaNacimiento" class="text-danger"></span>
                                                </div>
                                            }

                                            @if (Model.Input.CorreoElectronico == null)
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.CorreoElectronico" placeholder="Correo Electronico" class="form-control" type="email" />
                                                    <span asp-validation-for="Input.CorreoElectronico" class="text-danger"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.CorreoElectronico" placeholder="Correo Electronico" class="form-control" type="email" readonly />
                                                    <span asp-validation-for="Input.CorreoElectronico" class="text-danger"></span>
                                                </div>
                                            }
                                            <div class="form-group">
                                                <input asp-for="Input.Telefono" placeholder="Telefono" class="form-control" type="tel" />
                                                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Input.Direccion" placeholder="Direccion" class="form-control" />
                                                <span asp-validation-for="Input.Direccion" class="text-danger"></span>
                                            </div>
                                            @if (Model.Input.Password == null)
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.Password" placeholder="Contraseña" class="form-control" type="password" />
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                            }
                                            @if (Model.Input.Rol == null)
                                            {
                                                <div class="form-group" id="rol">
                                                    @Html.DropDownList("Input.Rol", new SelectList(Model.Input.rolesLista, "Text", "Text"), "Seleccione un Rol", new { @onchange = "actualizacionCombo(this.value)", @class = "form-control" })
                                                    <span asp-validation-for="Input.Rol" class="text-danger"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.Rol" placeholder="Rol" class="form-control" readonly />
                                                    <span asp-validation-for="Input.Rol" class="text-danger"></span>
                                                </div>
                                            }
                                            @if (Model.Input.Carrera == null)
                                            {
                                                <div class="form-group" id="carrera">
                                                    @Html.DropDownList("Input.Carrera", new SelectList(Model.Input.carrerasLista, "Text", "Text"), "Seleccione un Carrera", new { @class = "form-control" })
                                                    <span asp-validation-for="Input.Carrera" class="text-danger"></span><br />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <input asp-for="Input.Carrera" placeholder="Carrera" class="form-control" readonly />
                                                    <span asp-validation-for="Input.Carrera" class="text-danger"></span><br />
                                                </div>
                                            }

                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body> 
</html>
