@page
@model DetalleRequesitosModel
@{
    ViewData["Title"] = "Detalle Requesito";
    var name = Model.Input.DataUser.Nombre_Requesito;
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <div class="row">
        <div class="col-sm ">
            <div class="card text-center" style="width: 21rem;">
                <div class="card-header ">
                    <img class='imageUserDetails' src="~/lib/Image/iconsRequesitos.png" />
                </div>
                <div class="card-body">
                    <table class="tableCursos">
                        <tbody>
                            <tr>
                                <td>
                                    <p>Nombre: @name</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <table class="tableCursos">
                        <tbody>
                            <tr>
                                <th>
                                    Informacion
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Codigo del Requesito
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.Input.DataUser.Codigo_Requesito</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Nombre del Requesito
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>@name</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form asp-area="Mantenimiento" asp-page="RegistrarRequesitos" method="post">
                                        @{
                                            var dataUser = JsonConvert.SerializeObject(Model.Input.DataUser);
                                        }

                                        <input type="hidden" name="dataRequesito" value="@dataUser" />
                                        <input type="submit" value="Editar" class="btn btn-success ">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>